<nav class="navbar-containter row" style="display: flex; justify-content: center; align-items: center; height: 48px; ">
    <div style="display: flex; justify-content:center">
        OmarCarrilloDev 2024.
    </div>
    <div style="width: 200px; display: flex; justify-content:space-evenly">
        Contacto:
        <a href="omarcarrillo1121@gmail.com" target="_blank" rel="noopener"><i class="bi bi-envelope"></i></a>
        <a href="www.linkedin.com" target="_blank" rel="noopener"><i class="bi bi-linkedin"></i></a>
        <a href="www.github.com" target="_blank" rel="noopener"><i class="bi bi-github"></i></a>
        <a href="www.instagram.com" target="_blank" rel="noopener"><i class="bi bi-instagram"></i></a>
    </div>
</nav>